<!DOCTYPE html>
<html>
  <head>
    <title>ReevoomarkEmbeddedExample</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="<%= @domain %>/assets/embedded_reviews.css" type="text/css" />


  </head>

  <body style="margin:0 0 0 0;">
    <%= yield %>

    <script id="reevoomark-loader" type="text/javascript" charset="utf-8">
      (function(w,d,u,i,f,s,l) {
        s=d.createElement('script');s.type='text/javascript';s.src=u;
        l=d.getElementById(i);l.parentNode.insertBefore(s,l);w['ReevooMarkHandlerName']=f;
        w[f]=function(){(w[f].q=w[f].q||[]).push(arguments)}
      })(window, document, '<%= @domain %>/assets/reevoo_mark.js', 'reevoomark-loader', 'reevooMark');
      </script>


  </body>
</html>
